.p_button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  outline: none;

  margin: 12px;
}
.p_button:hover {
  background: #2196f3;
  color: #fff;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.framework {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
}

.framework_item {
  padding-right: 30px;
}

.h3_portf {
  margin-top: 20px;
  padding-left: 24px;
}
.p_portf {
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.works {
  margin-top: 50px;
}
.buttons_portf {
  margin-top: 93px;
}
